body{
    background-color: burlywood;
    margin: 0;
}

h3{
    float: left;
}
header nav ul{
float: right;
color: beige;
}

header nav ul li{
    display: inline-block;
    background-color: beige;
    margin: 0 0,5rem;
}
header nav a{
    color: #000;
    text-decoration: none;
}

nav{
    overflow: auto;
    background-color: beige;
    padding: 1rem;
}

main{
    width: 80%;
    float: left
}
#front-page-container{
    margin: 2rem;
    max-width: 1200px;
    width: 100%;
}

aside{
    width:20%;
    float: left;
}

footer{

}